.login {
    position: relative;
}

.bg-university {
    background-image: url('../images/login/DH-Bach-khoa-HN-9252-1631681129.jpg');
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(2px);
}

.row-0 {
    margin: 0;
}

.is-flex {
    display: flex;
}


::-webkit-input-placeholder {
    color: black;
    font-family: inherit;
    font-weight: normal;
    font-size: 14px;
    opacity: 0.6;
}


.acount {
    padding: 32px;
    background: #fff;
    box-shadow: 0 9px 46px 8px rgb(0 0 0 / 2%), 0 24px 38px 3px rgb(0 0 0 / 4%), 0 11px 15px -7px rgb(0 0 0 / 5%);
    border-radius: 10px;
    width: 421px;
}

.acount__title {
    font-size: 24px;
    margin-bottom: 32px;
    line-height: 30px;
}

.input-group__label {
    line-height: 24px;
    font-size: 15.5px;
    font-weight: bold;
}

.input-group {
    margin: 16px 0;
}

.input-group-input {
    height: 48px;
    position: relative;
}

.input-group-input input {
    border: 1px solid #e6e6e6;
    transition: all .3s;
    font-size: 14px;
    padding: 8px 20px;
    width: 100%;
    height: 100%;
    border-radius: 3rem;
    margin-top: 8px;
}

.input-group-input span{
    position: absolute;
    top: 22px;
    right: 15px;
    color: #d2d2d2;
}
.input-group-input span i {
    font-size: 16px;
}

.update-phone {
    display: flex;
    align-items: center;
}

.country-phone {
    margin-right: 16px;
    margin-top: 18px;
    height: 48px;  
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f6f6f6;
    border-radius: 3rem;
}

.country-phone .flag-wrapper {
    width: 120px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flag-wrapper img {
    width: 20px;
    margin-right: 6px;
}

.flag-wrapper span {
    font-size: 16px;
    font-weight: bold;
}

.acount-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.acount-body button {
    width: 100%;
    height: 56px;
    padding: 0 30px;
    margin-top: 32px;
    border: none;
    box-shadow: 0 4px 12px 0 rgb(246 116 57 / 40%);
    background-image: var(--bg-section);
    background-size: 200% auto;
    border-radius: 27px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 16px;
    font-weight: 500;
}

.acount-body button:hover{
    background-image: linear-gradient(to right, #8d4fff, #fa9e1b);
}

.acount-footer button:hover {
    background-position: 100%;
}

.acount-footer .acount-sign-up {
    font-size: 17px;
    margin-top: 32px;
}

.acount-footer .sign-up {
    color: var(--hover-color);
    font-weight: bold;
}

.acount-footer-note {
    margin-top: 32px;
    font-size: 15px;
    text-align: center;
}

.acount-footer-note a {
    text-decoration: none;
    color: var(--black-color);
    font-weight: 700;
    opacity: 0.8;
    transition: all 0.3s;
}

.acount-footer-note a:hover {
    color: var(--hover-color);
}

.logInForm {
    padding: 0 8px;
    position: absolute;
    transform: translateY(calc(-100vh + 50%)) translateX(calc(50vw - 50%));
}

.registerForm {
    padding: 0 8px;
    position: absolute;
    transform: translateY(calc(-100vh + 20%)) translateX(calc(50vw - 50%));
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.pointer {
    cursor: pointer;
}